---
import User from '../assets/Image.jpeg'
---

<section class="about" id="about">
    <figure class="about-picture">
        <img src={User.src} alt="Muhammad Maaz picture">
    </figure>
    <article class="about-bio">
        <h2 class="heading-2">Hello, I'm Muhammad Maaz — a dedicated web developer with over two years of hands-on experience in the field.</h2> 
        <p class="text-normal">Over the years, I’ve tackled a wide range of development challenges, each one sharpening my problem-solving skills and fueling my creativity in crafting effective digital solutions.</p> 
        <p class="text-normal">Starting out as a junior developer and growing into a leadership role on major projects, my journey has been filled with learning and achievement. I've contributed to various real-world projects using technologies like Next.js, React, Express, Astro, Java, SQL, MongoDB, and more.</p> 
        <p class="text-normal">I'm passionate about transforming ideas into fully functional digital experiences. Leveraging modern frameworks, clean architecture, and agile practices, I stay on top of the latest trends to ensure every project I work on is future-ready and efficient.</p>
    </article>
    
</section>